<div class="container-fluid my-5">
  <h3 class="text-center">Lista Tickets</h3>
  <hr>

  <div class="card text-center">
    <p-table
      #dt1
      [value]="ticket"
      dataKey="nome"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['id, tipologia, oggetto, testo, urgenza, stato']"
    >
      <ng-template pTemplate="caption">
        <div class="row justify-content-between">
          <div class="col-2">
            <input
              pInputText
              type="text"
              (input)="applyFilter($event)"
              placeholder="Cerca" />
          </div>

          <div class="col-3">
            <p-button label="Crea Nuovo" [raised]="true" [rounded]="true" class="p-2 float-end" size="small" routerLink="/crea-ticket"></p-button>
          </div>
          <div class="col-3">
            <p-button *ngIf="role === 'operatore'" label="Tickets assegnati" [raised]="true" [rounded]="true" class="p-2 float-end" size="small" (click)="toggleMyTicketsFilter()"></p-button>
          </div>
          <div class="col-3">
            <p-button *ngIf="role === 'operatore'" label="Tickets creati" [raised]="true" [rounded]="true" class="p-2 float-end" size="small" (click)="toggleMyTicketsFilterCreati()"></p-button>
          </div>
          <div class="col-1">
            <p-button *ngIf="role === 'operatore'"  icon="pi pi-filter-slash" (onClick)="getTipoList()" class="p-2 float-end" size="small"/>
          </div>
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Stato</th>
          <th>Tipologia</th>
          <th>Oggetto</th>
          <th>Descrizione</th>
          <th>Urgenza</th>
          <th>Creato da</th>
          <th>Assegnato a</th>
          <th>Azioni</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td class="text-center">
            {{customer.cron}}
          </td>
          <td class="text-center">
            <p-tag *ngIf="customer.Stato === 'Chiuso'" severity="success" value="Chiuso"/>
            <p-tag *ngIf="customer.Stato === 'In Lavorazione'" severity="info" value="In Lavorazione"/>
            <p-tag  *ngIf="customer.Stato === 'Aperto'" severity="danger" value="Aperto"/>
          </td>
          <td class="text-center">
            {{customer.tipologia}}
          </td>
          <td class="text-center">
            {{customer.oggetto}}
          </td>
          <td class="text-center">
            {{customer.testo}}
          </td>
          <td class="text-center">
            <p-tag *ngIf="customer.urgenza === 'Bassa'" severity="success" value="Bassa"/>
            <p-tag *ngIf="customer.urgenza === 'Media'" severity="warning" value="Media"/>
            <p-tag  *ngIf="customer.urgenza === 'Alta'" severity="danger" value="Alta"/>
          </td>
          <td class="text-center">
            {{customer.utente}}
          </td>
          <td class="text-center">
            {{customer.assignedTo?.name}}  {{customer.assignedTo?.surname}}
          </td>
          <button type="button" class="btn btn-primary me-2" *ngIf="customer.Stato === 'Aperto' && role === 'admin'" (click)="showAssignDialog(customer)">Assegna</button>
          <button type="button" class="btn complementary-2-bg white-color me-2" *ngIf="customer.Stato === 'Aperto' && role !== 'user'"    (click)="lavoraTicket(customer.id)">Lavora</button>
          <button type="button" class="btn btn-danger me-2" *ngIf="customer.Stato === 'In Lavorazione'  && role !== 'user'"  (click)="terminaTicket(customer.id)">Termina</button>
          <button type="button" class="btn btn-outline-secondary " (click)="showDialog(customer)">Dettaglio</button>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Nessun elemento trovato.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  header="Dettaglio Ticket"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [maximizable]="true">
  <div *ngIf="selectedTicket">
    <p><strong>ID:</strong> {{selectedTicket.cron}}</p>
    <p><strong>Stato:</strong> {{selectedTicket.Stato}}</p>
    <p><strong>Tipologia:</strong> {{selectedTicket.tipologia}}</p>
    <p><strong>Oggetto:</strong> {{selectedTicket.oggetto}}</p>
    <p><strong>Descrizione:</strong> {{selectedTicket.testo}}</p>
    <p><strong>Urgenza:</strong> {{selectedTicket.urgenza}}</p>
    <p><strong>Creato da:</strong> {{selectedTicket.utente}}</p>
    <p><strong>Data Creazione:</strong> {{selectedTicket.dataCreazione}}</p>
    <p *ngIf="selectedTicket.assignedTo && selectedTicket.assignedTo.name && selectedTicket.assignedTo.surname"><strong>Assegnato a :</strong> {{selectedTicket.assignedTo?.name}} {{selectedTicket.assignedTo?.surname}}</p>
    <div *ngIf="selectedTicket.Stato  !== 'Aperto'">
      <p><strong>Lavorato da:</strong> {{selectedTicket.utenteLavorazione}}</p>
      <p><strong>Data Lavorazione:</strong> {{selectedTicket.dataLavorazione}}</p>
    </div>
    <div *ngIf="selectedTicket.Stato === 'In Lavorazione'  && role !== 'user'">
      <p><strong>Nota Lavorazione:</strong></p>
      <textarea [(ngModel)]="selectedTicket.notaLavorazione" rows="4" cols="50"></textarea>
      <p-button label="Salva Nota" (click)="salvaNotaLavorazione(selectedTicket.id)"></p-button>
    </div>

    <div *ngIf="selectedTicket.Stato  === 'Chiuso'">
      <p><strong>Chiuso da:</strong> {{selectedTicket.utenteChiusura}}</p>
      <p><strong>Data Chiusura:</strong> {{selectedTicket.dataLavorazione}}</p>
      <p><strong>Nota Lavorazione: {{selectedTicket.notaLavorazione}}</strong></p>
    </div>
  </div>
</p-dialog>
<!-- Dialogo per assegnare un operatore al ticket -->
<p-dialog header="Assegna Ticket" [(visible)]="assignDialogVisible" [modal]="true"  [style]="{ width: '50rem', height: '70rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [maximizable]="true">
  <div class="card flex justify-content-center">
    <p-dropdown
      [options]="operators"
      [(ngModel)]="selectedOperator"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Seleziona un operatore">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.name }} {{ selectedOption.surname }}</div>
        </div>
      </ng-template>
      <ng-template let-operator pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ operator.name }} {{ operator.surname }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <p-footer>
    <button type="button" class="btn btn-primary me-3" (click)="assignTicket()">Assegna</button>
    <button type="button" class="btn btn-secondary" (click)="assignDialogVisible=false">Annulla</button>
  </p-footer>
</p-dialog>
