<!-- DIV CONTAINER -->
<div class="container my-5">

  <!-- TITOLO E HR -->
  <h2 class="text-center">COSA VUOI FARE?</h2>
  <hr class="hr-blu text-center mb-5">
  <!-- FINE TITOLO E HR -->

  <!-- ROW CARDS -->
  <div class="row justify-content-between">

    <!-- COL CARD 1 -->
    <div class="col-lg-6 col-sm-12">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon" style="margin-left: auto; margin-right: 32px;"></div>
          <div class="card-body">
            <div class="d-inline-flex">
              <svg class="icon me-2"><use href="assets/bootstrap-italia/svg/sprites.svg#it-plus-circle"></use></svg>
              <h3 class="card-title h5 "> Crea Ticket</h3>
            </div>
            <p class="card-text">Crea un ticket, inserendo oggetto, descrizione, tipologia.</p>
            <a class="read-more" routerLink="/crea-ticket">
              <span class="text">VAI ALLA PAGINA</span>
              <svg class="icon">
                <use href="assets/bootstrap-italia/svg/sprites.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <!-- FINE COL CARD 1 -->

    <!-- COL CARD 2 -->
    <div class="col-lg-6 col-sm-12">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon" style="margin-left: auto; margin-right: 32px;"></div>
          <div class="card-body">
            <div class="d-inline-flex">
              <svg class="icon me-2"><use href="assets/bootstrap-italia/svg/sprites.svg#it-list"></use></svg>
              <h3 class="card-title h5 "> Lista Ticket</h3>
            </div>
            <p class="card-text">Gestisci i tickets creati.</p>
            <a class="read-more" routerLink="/lista-ticket">
              <span class="text">VAI ALLA PAGINA</span>
              <svg class="icon">
                <use href="assets/bootstrap-italia/svg/sprites.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <!-- FINE COL CARD 2 -->

  </div>
  <!-- FINE DIV CONTAINER -->
</div>
